<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- Android only grants this service access after the user enables it in
       Settings > Notification access. It does not request notification data
       through a normal runtime permission. -->
  <application>
    <service
      android:name=".MnevaNotificationListenerService"
      android:label="Mneva notification analysis"
      android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
      android:exported="true">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
      <meta-data
        android:name="android.service.notification.default_filter_types"
        android:value="conversations|alerting" />
    </service>
  </application>
</manifest>
